In [2]:
import numpy as np
from scipy import stats
import os
import pandas as pd
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.cross_validation import KFold
import math
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
import sqlite3
%matplotlib inline

In [4]:
data_remove_e = pd.read_csv("data_for_rohan.csv",low_memory=False)

In [12]:
data_remove_e = data_remove_e.drop('Unnamed: 0', axis=1)

In [14]:
data_remove_rpl = data_remove_e.drop(['COMPL_RPY_1YR_RT', 'NONCOM_RPY_1YR_RT', 'LO_INC_RPY_1YR_RT', 'MD_INC_RPY_1YR_RT'\
                                      , 'HI_INC_RPY_1YR_RT', 'DEP_RPY_1YR_RT', 'IND_RPY_1YR_RT', 'PELL_RPY_1YR_RT', \
                                      'NOPELL_RPY_1YR_RT', 'FEMALE_RPY_1YR_RT', 'MALE_RPY_1YR_RT', 'FIRSTGEN_RPY_1YR_RT', \
                                      'NOTFIRSTGEN_RPY_1YR_RT'], axis=1)

In [19]:
nan_counts = data_remove_rpl.count(axis=1)
proportion_nan = []
proportion_nan[:] = [1 - ((float) (a) / (float) (len(data_remove_rpl.columns))) for a in nan_counts]

In [30]:
df_p_nan = pd.DataFrame(proportion_nan)
delete_these_rows = df_p_nan.ix[df_p_nan[0] > 0.9].index.values
data_thinner = data_remove_rpl.drop(data_remove_rpl.index[delete_these_rows])
data_thinner.shape

(1729, 245)

In [52]:
data_thinner = data_thinner.drop(['count_ed', 'count_nwne_p6', 'count_wne_p6', 'md_earn_wne_p6', 'pct10_earn_wne_p6',\
                                     'pct25_earn_wne_p6', 'pct75_earn_wne_p6', 'pct90_earn_wne_p6', 'sd_earn_wne_p6', \
                                     'gt_25k_p6', 'mn_earn_wne_inc1_p6', 'mn_earn_wne_inc2_p6',\
                                     'mn_earn_wne_inc3_p6'], axis=1)

In [90]:
data_thinner = data_thinner.reset_index()
data_thinner = data_thinner.drop('index', axis=1)
keep_indices = np.isfinite(data_thinner.mn_earn_wne_p6)

In [91]:
drop_this = []
for i in range(len(keep_indices)):
    if keep_indices.ix[i] == False:
        drop_this.append(i)
data_super_thin = data_thinner.drop(data_thinner.index[drop_this])

In [92]:
data_super_nans = data_super_thin.replace(np.nan,'nan')

In [93]:
data_super_nans.to_csv('data_super_nan.csv', encoding='utf-8')

In [130]:
data_needs_headers = pd.read_csv("data_imputed.csv",low_memory=False,header=None)

In [126]:
data_super_nans = data_super_nans.drop('level_0', axis=1)

In [131]:
data_still_needs_headers = data_needs_headers.drop(0,axis=1)
data_still_needs_headers.columns = data_super_nans.columns

In [132]:
data_still_needs_headers.to_csv('data_full_final.csv', encoding='utf-8')

In [134]:
data_z = stats.zscore(data_still_needs_headers, axis=1)

In [136]:
data_z_full = pd.DataFrame(data=data_z,columns=data_super_nans.columns)
data_z_full.ix[:,'UNITID'] = data_still_needs_headers.ix[:,'UNITID']
data_z_full.to_csv('data_z_full_final.csv', encoding='utf-8')

In [141]:
y_full = data_still_needs_headers.ix[:,'mn_earn_wne_p6']
y_full_z = data_z_full.ix[:,'mn_earn_wne_p6']

In [142]:
x_full = data_still_needs_headers.drop('mn_earn_wne_p6', axis=1)
x_full_z = data_z_full.drop('mn_earn_wne_p6', axis=1)

In [146]:
y_full.to_csv('y_full.csv', encoding='utf-8',index=False)
y_full_z.to_csv('y_full_z.csv', encoding='utf-8',index=False)
x_full.to_csv('x_full.csv', encoding='utf-8',index=False)
x_full_z.to_csv('x_full_z.csv', encoding='utf-8',index=False)

In [155]:
data_all_names = pd.read_csv('old_data/data_full.csv', low_memory=False)

In [156]:
data_all_names = data_all_names.drop('Unnamed: 0', axis=1)

In [158]:
inst_names = []
for i in range(len(data_still_needs_headers)):
    find_id = data_still_needs_headers.ix[i,'UNITID']
    for j in range(len(data_all_names)):
        if data_all_names.ix[j,'UNITID']==find_id:
            inst_names.append(data_all_names.ix[j,'INSTNM'])

In [171]:
data_still_needs_headers.index = inst_names
data_named = data_still_needs_headers

In [172]:
data_named.to_csv('data_named.csv', encoding='utf-8')

In [174]:
data_z_named = stats.zscore(data_named, axis=1)
data_z_full_named = pd.DataFrame(data=data_z_named,columns=data_super_nans.columns)

In [188]:
data_z_full_named.index = data_named.index

In [189]:
data_z_full_named.ix[:,'UNITID'] = data_named.ix[:,'UNITID']

In [191]:
data_z_full_named.to_csv('data_z_full_final_named.csv', encoding='utf-8')

In [192]:
y_full_named = data_named.ix[:,'mn_earn_wne_p6']
y_full_z_named = data_z_full_named.ix[:,'mn_earn_wne_p6']
x_full_named = data_named.drop('mn_earn_wne_p6', axis=1)
x_full_z_named = data_z_full_named.drop('mn_earn_wne_p6', axis=1)

In [194]:
y_full_named.to_csv('y_named.csv', encoding='utf-8')
y_full_z_named.to_csv('y_named_z.csv', encoding='utf-8')
x_full_named.to_csv('x_named.csv', encoding='utf-8')
x_full_z_named.to_csv('x_named_z.csv', encoding='utf-8')

In [245]:
test = pd.read_csv('y_named.csv',low_memory=False,header=None)
test_col = test.ix[:,0]
test.index = test_col

In [249]:
list_col = test_col.tolist()

In [250]:
test.index = list_col

In [254]:
test_nice = test.drop(0,axis=1)
test_nice

                                                        1
Alabama A & M University                            29400
University of Alabama at Birmingham                 39500
Amridge University                                  45200
University of Alabama in Huntsville                 41200
Alabama State University                            24100
The University of Alabama                           38800
Auburn University at Montgomery                     32800
Auburn University                                   44000
South University-Montgomery                         32500
Faulkner University                                 37800
Jacksonville State University                       32200
University of West Alabama                          32300
University of Mobile                                36500
University of Montevallo                            30800
University of North Alabama                         33100
Oakwood University                                  30300
Samford University                                  41000
University of South Alabama                         36300
Spring Hill College                                 36700
Troy University                                     35900
Tuskegee University                                 33600
University of Alaska Anchorage                      34700
University of Alaska Fairbanks                      32300
University of Alaska Southeast                      30900
Alaska Pacific University                           41600
Arizona State University-Tempe                      46300
University of Arizona                               44200
Embry-Riddle Aeronautical University-Prescott       47300
Grand Canyon University                             46600
Northern Arizona University                         40200
...                                                   ...
University of Phoenix-Houston Campus                61600
University of Phoenix-Milwaukee Campus              61600
University of Phoenix-Idaho Campus                  61600
Oregon State University-Cascades Campus             40900
Southern University Law Center                      26300
San Diego State University-Imperial Valley Campus   43700
University of Phoenix-Kansas City Campus            61600
University of Phoenix-Atlanta Campus                61600
University of Phoenix-Chicago Campus                61600
University of Phoenix-Nashville Campus              61600
Argosy University-Dallas                            51600
Ottawa University-Jeffersonville                    44100
University of Phoenix-Charlotte Campus              61600
University of Phoenix-Indianapolis Campus           61600
University of Phoenix-Columbus Georgia Campus       61600
University of Phoenix-Memphis Campus                61600
University of Phoenix-Little Rock Campus            61600
Baker College of Allen Park                         29600
American InterContinental University-Houston        45100
University of California-Merced                     48200
Central Methodist University-College of Graduat...  31100
University of Phoenix-Minneapolis St Paul Campus    61600
University of Phoenix-Louisville Campus             61600
University of Phoenix-Central Valley Campus         61600
University of Phoenix-San Antonio Campus            61600
University of Phoenix-Austin Campus                 61600
University of Phoenix-Raleigh Campus                61600
Argosy University-Los Angeles                       36100
University of Phoenix-Savannah Campus               61600
University of Phoenix-Northern Nevada Campus        61600

[1534 rows x 1 columns]